.board{
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #e3e4e6;
}
.board>div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.board>.menu{
  position: fixed;
  top: 100px;
  left: 100px;
  padding: 20px 50px;
  max-width: 200px;
  background-color: #ddd;
  color: #4c4c4b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.menu>button{
  padding: .5em 1em;
  border-radius: .5em;
  outline: none;
}
.menu>button:hover{
  box-shadow:0 0 10px 2px #666a;
}
.menu>button:nth-child(n + 2){
  margin-top: 10px;
}
